<div class="admin-dimmer"></div>
<div class="panel panel-default" id="checkin-list">
    <div class="panel-heading">
      <b>Guest List</b>
    </div>
    <div class="panel-body">
      <% include ../partials/alerts %>
      <input type="text" class="form-control" id="nameSearch" placeholder="Name">
      <ul class="list-group" id="guestList">
        <% usersArr.forEach(function (user) { %>
          <% if (user.headCountSelected > 0) { %>
            <li class="list-group-item">
              <a href=<%= "/admin/checkin/" + user.id %>>
                <%= user.name %>
              </a>
              <span class=
              <% if (user.checkedin == user.headCountSelected) { %>
                "label label-success"
              <% } else { %>
                "label label-warning"
              <% } %>>
                <%= user.checkedin %> / <%= user.headCountSelected %>
              </span>
              <span class="badge">
              Table:
              <%= user.table.name%>
              </span>
            </li>
          <% } %>
        <% }) %>
      <ul>
    </div>
  </div>
  <div>
    <img id="floorplan" src="/img/floor.png" alt="">
  </div>
