<div class="dimmer"></div>
<div id="form-updateGuest">

  <h1 class="update-label">WELCOME</h2>
  <br>
  <h3 class="update-label">Thank you for coming, </h3>
  <h3 class="update-label"><u><%= user.name%></u> (<%= user.email%>)</h3>
  <br>
  <h3 class="update-label">Please proceed to </h3>
  <h3 class="update-label"><u>Table: <%= user.table.name%></u> </h3>
  <br>

  <form action=<%="/admin/checkin/" + user._id + "?_method=PUT"%> method="POST">

    <div class="form-group">
      <label for="" class="update-label">Check In Quantity</label>
      <input type="number" class="form-control" value="<%= user.headCountSelected%>" name="checkedin" min=0 max=<%= user.headCountAllowed%>>
    </div>

    <% include ../partials/alerts %>

    <button type="submit" class="btn btn-primary" name="action" value="update">Confirm</button>

  </form>
</div>
