<div class="dimmer"></div>
<div id="form-editTable">
  <form action=<%="/admin/table/" + table._id + "?_method=PUT"%> method="POST">

    <% if (!table.permanent) { %>
      <div class="form-group">
        <label for="name" class="update-label">Table Name</label>
        <input type="text" class="form-control" placeholder="Table Name" value="<%= table.name%>" name="name">
      </div>
    <% } else { %>
      <input type="hidden" value="<%= table.name%>" name="name">
    <% } %>

    <div class="form-group">
      <label for="capacity" class="update-label">Capacity</label>
      <input type="number" class="form-control" value="<%= table.capacity%>" name="capacity" min=1>
    </div>

    <% include ../partials/alerts %>

    <button type="submit" class="btn btn-primary" name="action" value="update">Update</button>

  </form>

  <form action=<%="/admin/table/" + table._id + "?_method=DELETE"%> method="POST">
    <% if (!table.permanent) { %>
      <button type="submit" class="btn btn-primary btn-danger" name="action" value="remove">Remove</button>
      <% } %>
  </form>

</div>
