<div class="admin-dimmer"></div>
<div id="admin-settings">

  <div class="panel panel-default" id="table-settings">
    <div class="panel-heading">
      <b>Tables</b>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
              <tr>
                  <th>Name</th>
                  <th>Total Capacity</th>
                  <th>Planned for</th>
                  <th>Requested for</th>
                  <th>Checked In</th>
                  <th>
                    <form action="/admin/table/add">
                    <button class="btn btn-xs btn-success" id="addTable">
                    Add Table
                    </button>
                  </form>
                </th>
              </tr>
          </thead>
          <tbody>
              <% tablesArr.forEach(function (table) { %>
                <tr>
                <td>
                  <%= table.name%>
                </td>
                <td>
                  <%= table.capacity%>
                </td>
                <td>
                  <%= table.plannedFor%>
                </td>
                <td>
                  <%= table.reservedFor%>
                </td>
                <td>
                  <%= table.checkedIn%>
                </td>
                <td>
                <form action="/admin/table/<%= table._id %>">
                <button class="btn btn-xs">
                  Edit Table
                </button>
                </form>
                </td>
                </tr>
              <% })%>
          </tbody>
        </table>
    </div>
  </div>

  <div class="panel panel-default" id="guest-settings">
    <div class="panel-heading">
      <b>Guests</b>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
              <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Admin</th>
                  <th>Attending</th>
                  <th>Table</th>
                  <th>Food Preference</th>
                  <th>Planned for</th>
                  <th>Requested for</th>
                  <th>Checked In</th>
                  <th>
                    <form action="/admin/guest/add">
                    <button class="btn btn-xs btn-success" id="addGuest">
                    Add Guest
                    </button>
                  </form>
                </th>
              </tr>
          </thead>
          <tbody>
            <% usersArr.forEach(function (guest) { %>
              <tr>
              <td>
                <%= guest.name%>
              </td>
              <td>
                <%= guest.email%>
              </td>
              <td>

              <% if (guest.admin) { %>
                <u><b><%= guest.admin%></b></u>
              <% } else { %>
                <%= guest.admin%>
              <% } %>

              </td>
              <td>
                <%= guest.attending%>
              </td>
              <td>
              <% if (guest.table) { %>
                <%= guest.table.name%>
              <% } else { %>
                <%= 'NO TABLE'%>
              <% } %>
              </td>
              <td>
                <%= guest.foodPref%>
              </td>
              <td>
                <%= guest.headCountAllowed%>
              </td>
              <td>
                <%= guest.headCountSelected%>
              </td>
              <td>
                <%= guest.checkedin%>
              </td>
              <td>
              <form action="/admin/guest/<%= guest._id %>">
              <button class="btn btn-xs">
                Edit Guest
              </button>
              </form>
              </td>
              </tr>
            <% }) %>
          </tbody>
      </table>
    </div>
  </div>
</div>
